:root {
  --prime-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --text-color: #434455;
  --primary-brand-color: #4d5ae5;
  --dark-color: #2e2f42;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --pressed-state-color: #404bbf;
  --white-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}
  button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px; 
}

img {
  display: block;
}

body {
  background-color: var(--white-color);
  color: var(--text-color);
  font-family: var(--prime-font);
}

.list {
  list-style: none;
  margin: 0;
  bottom: 0;
}
.link {
  text-decoration: none;
}

.hidden {
  display: none;
}

.container {
  width: 1188px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  border: 2px solid red;
}
/*----------------HEADER----------------*/

.heder-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-page {
  display: flex;
}

.menu {
  display: flex;
}

.menu-items:not(:last-child) {
  margin-right: 40px;
}

.pirs {
  display: flex;
  margin-left: 332;
  margin-right: 156px;
  gap: 40px;
}

.logo-page {
  display: flex;
  display: block;
  padding: 25.5px 0 25.5px 157px;
  margin-right: 76px;
  font-family: var(--second-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}
.text-logo {
  font-family: var(--second-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-color);
}
.contact {
  font-style: normal;
  display: block;
}

.main-contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.main-contact:hover,
.main-contact:focus {
  color: var(--pressed-state-color);
}

.menu-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--dark-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-state-color);
}

/*--------------HEADER--------------*/

/*---------------HERO-------------- */

.hero {
  background: var(--dark-color);
  padding: 168px 0;
  width: 1188px;
  text-align: center;
}
.main-title {
  width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;

  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.model-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background: var(--primary-brand-color);
  margin: auto;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
}

.model-button:hover,
.model-button:focus {
  background: var(--pressed-state-color);
}

/*---------------HERO---------------*/

/*--------------FEATURE------------*/

.about {
  margin-top: 120px;
  margin-bottom: 120px;
}

.about-list {
  display: flex;
}

.title-feature {
  padding-top: 32px;
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.sub-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
/* -------------FEATURE--------------*/

/*-----------SECTION ABOUT------------*/

.bodun {
  margin-bottom: 120px;
}

.title-about {
  padding-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--dark-color);
}

.list-about {
  display: flex;
  gap: 24px;
  }


/*------------SECTION ABOUT----------*/

/*---------------TEAM---------------*/


.pinc {
  padding-top: 32px;
  padding-bottom: 8px;
}

.font {
  padding-bottom: 120px;
  background-color: var(--light-color);
}

.title-font {
  padding-top: 120px;
  padding-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--dark-color);
}

.font-team {
  padding-bottom: 120px;
  display: flex;
  gap: 24px;
}

.font-list {
  background-color: var(--white-color);
}

/*--------------FOOTER--------------*/

.footer {
   width: 1188px;
  padding: 100px 0;
}

.foot {
  display: flex;
  flex-direction: column;
  padding-left: 156px;
}
.logo-page-footer{

  font-family: var(--second-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}
.text-footer
{
   width: 264px;
   margin-top: 17.5px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.footer {
  background: var(--dark-color);
}

.text-logo-footer {
  color: var(--light-color);
}

/*---------------FOOTER-------------*/

/* ------------PORTFOLIO------------*/



.line-button {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 96px;
  margin-bottom: 72px;
  gap: 24px;
}

.button-point {
  font-family: var(--prime-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  padding: 12px 24px;
}

.button-point:hover,
.button-point:focus {
  color: var(--white-color);
  background: var(--pressed-state-color);
}

.container-produkt {
  margin-bottom: 120px;
}

.produkt {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.progect-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.sub-text-progect {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
